.filebrowser-container {
   height: 100%;
   padding: 10px;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: stretch;
   justify-content: space-between;
}

.filebrowser-head-content {
   min-height: 1em;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-content: stretch;
   align-items: center;
   justify-content: space-between;
}

.filebrowser-context-actions-area {
   padding-right: 10px;
}

.filebrowser-context-actions-area i {
   font-size: 20px;
   color: #DDE3F3;
   cursor: pointer;
   margin-left: 10px;
}

.filebrowser-head-area,
.filebrowser-body-area {
   padding: 5px;
   background-color: #292f40;
   border-radius: 5px;
   box-shadow: 0 0 5px 4px rgba(0,0,0,0.25);
}

.filebrowser-body-area .filebrowser-button {
   text-align: center;
   font-size: 32px;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 5px 4px rgba(0,0,0,0.25);
   background-color: #DDE3F3;
   color: #292f40;
}

.filebrowser-body-content p {
   color: #DDE3F3;
   font-size: 20px;
   text-align: center;
}

.filebrowser-breadcrumbs {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
}

.filebrowser-breadcrumb {
}

.filebrowser-breadcrumb-element {
   padding-right: 10px;
   padding-left: 10px;
   font-size: 20px;
   font-weight: bold;
   color: #DDE3F3;
   text-decoration: none;
}

/* Don't give special styling to the last element. */
.filebrowser-breadcrumbs > .filebrowser-breadcrumb:last-child span {
   color: #44556f;
   cursor: inherit;
   font-weight: inherit;
}

.filebrowser-breadcrumb-separator {
   color: #44556f;
}

.filebrowser-body-area {
   flex-grow: 1;
   margin-top: 10px;
}

.filebrowser-body-content img.filebrowser-image {
   max-width: 100%;
}

.filebrowser-label-container {
   font-size: 20px;
   color: #DDE3F3;
   text-decoration: none;
}

.filebrowser-icon-board {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: flex-start;
   align-content: flex-start;
   justify-content: flex-start;
}

.filebrowser-icon-listing .filebrowser-label-container {
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: flex-start;
   align-items: center;
}

.filebrowser-icon-listing {
   width: 200px;
   padding: 10px;
}

.filebrowser-icon-listing span {
   word-break: break-word;
}

.filebrowser-icon-listing i {
   font-size: 75px;
   margin-bottom: 10px;
}

.filebrowser-text-center {
   text-align: center;
}

/* Modal */
.filebrowser-modal .tingle-modal-box {
   background-color: #d9e0ea;
}

.filebrowser-modal-content {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.filebrowser-modal-loader {
   width: 100px;
   height: 100px;
}

.filebrowser-modal-loader .boxes-loader {
   position: static;
   margin: 0;
   height: 100%;
   width: 100%;
   margin-top: 25px;
}

/* Gallery */
.filebrowser-body-content .galleria {
   height: 100%;
   width: 100%;
}

.filebrowser-body-content .galleria-fscr {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 4;
    cursor: pointer;
    opacity: 0.3;
}

.filebrowser-body-content .galleria-fscr:hover {
    opacity: 1.0;
}

.galleria-fscr:before {
   content: "\f065"; /* char code for fa-expand */
   position: absolute;
   font-family: FontAwesome;
   font-size: 40px;
   color: #fff;
}
